img {
  max-width: 200px;
  border: 10px solid #fff;
  margin: 10px;
  padding: 0;
  border-radius: 10px;
  display: block;
  margin: 20px auto;
}
img:nth-child(4n + 2):hover {
  border: 10px solid #000;
}
body {
  background: none !important;
}
header {
 /* background-color: #9ffbd6;
  */
 /* position: fixed;
  width: 100%;
  z-index: 10;
  */
  padding: 20px;
  position: sticky;
  top: 0;
  border-bottom-width: 1px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0 0 10px 10px;
}
ul {
 /* margin: 30px auto;
  padding: 0 20px;
  */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: solid #000;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  width: 20%;
  height: 70px;
  margin: 0 auto;
}
li:hover {
  transform: scale(1.2);
 /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: solid #fff;
}
.current-page {
  transform: scale(1.2);
 /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  background-color: rgba(255, 0, 0, 0.5);
  color: #fff;
  border: solid #fff;
}
a {
  display: inline-block;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  font-family: "Space Mono", monospace;
}
h1 {
  color: black;
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Space Mono", monospace;
}
p, h1 {
  color: black;
  font-weight: 600;
  font-size: 18px;
  border: solid #000;
  margin: 10px;
 /* box-shadow: 0 0 10px #000;
  */
  border-radius: 10px;
  padding: 10px;
 /* white background ;
  */
  background-color: rgba(255, 255, 255, 0.5);
  font-family: "Space Mono", monospace;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
 }
  100% {
    transform: rotate(360deg);
 }
}
#doraemon-img {
  display: block;
  margin: 20px auto;
  animation: rotate 3s linear;
  max-width: 80%;
}
@media (prefers-reduced-motion) {
  #doraemon-img {
    animation: dissolve 3s linear;
 }
}
.welcome {
 /* background-color: #252526;
  */
  box-sizing: border-box;
  padding: 15px;
  text-align: center;
  width: 100%;
  margin-top: 10px;
}
.welcome p {
  margin-top: 10px;
  padding: 10px;
}
.avatar {
 /* background-color: aquamarine;
  */
  text-align: left;
  position: relative;
  display: flex;
}
.avatar p {
  display: block;
  color: #252526;
  flex-grow: 2;
}
.avatar img {
  flex-grow: 1;
}
footer {
 /* background-color: #DBE9EE;
  */
  text-align: center;
  position: relative;
 /* top: 45px;
  */
  margin-top: 50px;
}
footer p {
  color: #252526;
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
  margin-top: 20px;
}
footer i {
  color: #252526;
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
}
html {
  background-image: url("../images/background-img.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
}
.container {
  display: grid;
  margin: 10px;
  align-items: center;
  justify-content: center;
}
.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  border: solid #000;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
}
.container-travel {
  display: grid;
  margin: 10px;
  align-items: center;
  justify-content: center;
  border: solid #000;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
}
.container-travel p {
  color: #252526;
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
  margin-top: 20px;
}
.container-umich {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  border: solid #000;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
}
.container-umich p {
  color: #252526;
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
  margin-top: 20px;
  display: inline-block;
}
.item-umich {
  width: 400px;
  height: 330px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  border: solid #000;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
}
.item-umich p {
  color: #252526;
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
  margin-top: 20px;
  display: inline-block;
}
.item-umich img {
  width: 300px;
  height: 130px;
}

.skip-to-content-link {
  background: #e77e23;
  height: 30px;
  left: 0;
  padding: 8px;
  position: absolute;
  transition: transform 0.3s;
  transform: translateX(-100%);
}

.skip-to-content-link:focus {
  transform: translateX(0%);
}